@import '../../scss/mixins';

.Screen {
    font-size: remCalc(35px);
    padding: remCalc(40px);
    
    .Screen__info {
        text-align: center;
        padding-top: remCalc(40px);
    }
    
    .Screen__info_important {
        padding-top: remCalc(20px);
        font-size: remCalc(60px);
        text-align: center;
        word-wrap: break-word;
        line-height: 1;
    }
}